.root {
    margin-bottom: 30px;
}

.heading {
    font-size: 40px;
}

.subheading {
    text-transform: uppercase;
    font-size: 13px;
    color: #385777;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    padding-left: 50px;
    display: inline-block;
}

.subheading:before {
    position: absolute;
    content: "";
    left: 0px;
    width: 40px;
    height: 2px;
    background: #0F8D8C;
    top: 0px;
    bottom: 0px;
    margin: auto 0px;
}
