.banner-section {
    padding: 100px 0px 200px;
    background: #FFEFD5;

    background: url("./images/smiley-face.jpg");
    background-size: cover;
    position: relative;
}

.banner-section:before {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  background: #FFEFD5;
  width: 100%;
  height: 100%;
  opacity: .8;
}


.banner-section .banner-content h1{
    margin-bottom: 20px;
    margin-top: 20px;
}

.banner-section .banner-content p{
    margin-bottom: 30px;
    padding-right: 40px;
}




/*.banner:before {*/
/*    position: absolute;*/
/*    content: "";*/
/*    left: 0px;*/
/*    top: 0px;*/
/*    background: #263b5e;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    opacity: .9;*/
/*}*/

/*.banner .banner-content h1 {*/
/*    font-size: 56px;*/
/*    margin: 15px 0px 45px;*/
/*    line-height: 65px;*/
/*    letter-spacing: -1.3px;*/
/*    color: #fff;*/
/*}*/

/*.banner .banner-content p {*/
/*    margin-bottom: 35px;*/
/*    color: #fff;*/
/*    opacity: .8;*/
/*    font-size: 18px;*/
/*    line-height: 32px;*/
/*}*/

/*.banner .banner-content .subheading {*/
/*    color: #fff;*/
/*    margin-bottom: 0px;*/
/*}*/

/*!*.banner-5 {*!*/
/*!*    padding-bottom: 220px;*!*/
/*!*    padding-top: 140px;*!*/
/*!*    background: url("../images/banner/banner-2.jpg") center center no-repeat;*!*/
/*!*    background-size: cover;*!*/
/*!*    position: relative;*!*/
/*!*}*!*/

/*.banner-5 .banner-content h1 {*/
/*    font-size: 81px;*/
/*    line-height: 73px;*/
/*    font-weight: 400;*/
/*    margin-bottom: 30px;*/
/*}*/

/*.banner-5 .banner-content p {*/
/*    width: 70%;*/
/*    margin: 0px auto 40px;*/
/*    font-size: 20px;*/
/*    line-height: 40px;*/
/*}*/
