.bannerSection {
  padding: 60px 0 160px;
  background: #FFEFD5;
  position: relative;
}

.bannerContent {
  h1 {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 15px;
    padding-right: 40px;
  }
}
