.banner-section {
    padding: 60px 0px 160px;
    background: #FFEFD5;
    background: #fff;
    position: relative;
}

.banner-section:before {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #FFEFD5;
    opacity: .8;
}

.banner-section .banner-content h1 {
    margin-bottom: 20px;
}

.banner-section .banner-content p {
    margin-bottom: 30px;
    padding-right: 40px;
}

.banner-img3 {
    position: relative;
}
